<h1>Hi <%= @user.email %></h1>
<p>
  You have successfully changed your password.
</p>
<p>
  Your new password is <strong id='new-password'><%= @new_password %></strong>.
</p>
<p>
  Please sign in with your new password, and change it at your earliest convenience.
</p>

